openapi: 3.1.0
info:
  title: North API
  version: 1.0.0
  description: |
    JSON API for North's native clients. The iOS app generates its client from
    this file (swift-openapi-generator), so this file is the contract: a route
    under /api/v1 that is not described here fails cmd/web's contract test.

    Authentication, by route group:
    - `/auth/*` sign-in routes take no credentials and return a session token.
    - Everything else takes that session token as `Authorization: Bearer`.
    - `/capture/*` takes an `nk_` connection token instead, issued from
      Settings → Connections for agents and shortcuts.

    A browser session cookie authenticates none of these.
servers:
  - url: https://kheprios.com/api/v1
    description: Production
  - url: http://localhost:8090/api/v1
    description: Local development
security:
  - bearerAuth: []
paths:
  /auth/signup:
    post:
      operationId: signUp
      summary: Create an account with email and password
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupRequest'
      responses:
        '201':
          $ref: '#/components/responses/Authenticated'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /auth/login:
    post:
      operationId: logIn
      summary: Sign in with email and password
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          $ref: '#/components/responses/Authenticated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /auth/google:
    post:
      operationId: signInWithGoogle
      summary: Sign in with a Google ID token from the native SDK
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleRequest'
      responses:
        '200':
          $ref: '#/components/responses/Authenticated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalError'
  /auth/apple:
    post:
      operationId: signInWithApple
      summary: Sign in with an Apple identity token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppleRequest'
      responses:
        '200':
          $ref: '#/components/responses/Authenticated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalError'
  /auth/logout:
    post:
      operationId: logOut
      summary: Revoke the session token sent in the Authorization header
      description: Idempotent. An unknown or already revoked token still gets 204.
      security: []
      responses:
        '204':
          description: Session revoked
        '401':
          $ref: '#/components/responses/Unauthorized'
  /auth/forgot-password:
    post:
      operationId: requestPasswordReset
      summary: Email a password reset link
      description: Always 202, whether or not the address has an account.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
      responses:
        '202':
          description: Accepted
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
  /auth/passkey/register/begin:
    post:
      operationId: beginPasskeyRegistration
      summary: Start creating an account with a passkey
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasskeyRegisterBeginRequest'
      responses:
        '200':
          $ref: '#/components/responses/PasskeyCeremony'
        '404':
          $ref: '#/components/responses/PasskeysUnavailable'
        '422':
          $ref: '#/components/responses/ValidationError'
        '503':
          $ref: '#/components/responses/Unavailable'
  /auth/passkey/register/finish:
    post:
      operationId: finishPasskeyRegistration
      summary: Create the account from the device's attestation
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasskeyFinishRequest'
      responses:
        '201':
          $ref: '#/components/responses/Authenticated'
        '400':
          $ref: '#/components/responses/PasskeyExpired'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/PasskeysUnavailable'
        '503':
          $ref: '#/components/responses/Unavailable'
  /auth/passkey/login/begin:
    post:
      operationId: beginPasskeyLogin
      summary: Start signing in with a passkey
      description: Omit the body, or the email, for a discoverable sign-in.
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasskeyLoginBeginRequest'
      responses:
        '200':
          $ref: '#/components/responses/PasskeyCeremony'
        '404':
          $ref: '#/components/responses/PasskeysUnavailable'
        '503':
          $ref: '#/components/responses/Unavailable'
  /auth/passkey/login/finish:
    post:
      operationId: finishPasskeyLogin
      summary: Sign in with the device's assertion
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasskeyFinishRequest'
      responses:
        '200':
          $ref: '#/components/responses/Authenticated'
        '400':
          $ref: '#/components/responses/PasskeyExpired'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/PasskeysUnavailable'
        '503':
          $ref: '#/components/responses/Unavailable'
  /conversations:
    get:
      operationId: listConversations
      summary: The signed-in user's coach conversations, newest first
      responses:
        '200':
          description: Up to 50 conversations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: startConversation
      summary: Start a conversation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartConversationRequest'
      responses:
        '201':
          description: The new conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /conversations/{id}:
    parameters:
      - $ref: '#/components/parameters/ConversationID'
    get:
      operationId: getConversation
      summary: One conversation with its messages and any pending approval
      responses:
        '200':
          description: The conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteConversation
      summary: Delete a conversation
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /conversations/{id}/reply:
    parameters:
      - $ref: '#/components/parameters/ConversationID'
    post:
      operationId: replyInConversation
      summary: Send a message and stream the coach's reply
      description: |
        Stores the message, then answers with Server-Sent Events. Each event's
        data is one line of JSON:

        | event       | data                         |
        |-------------|------------------------------|
        | `token`     | `ReplyTokenEvent`            |
        | `exercises` | `ReplyExercisesEvent`        |
        | `approval`  | `Approval`                   |
        | `error`     | `ReplyErrorEvent`            |
        | `done`      | `ReplyDoneEvent`, always last |

        Refusals that need no model (bad input, ended reflection, spent quota)
        come back as ordinary JSON errors before any event is sent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplyRequest'
      responses:
        '200':
          $ref: '#/components/responses/ReplyStream'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
  /conversations/{id}/resume:
    parameters:
      - $ref: '#/components/parameters/ConversationID'
    post:
      operationId: resumeConversation
      summary: Stream the rest of a reply after an approval was answered
      description: Same events as replyInConversation. Spends no message quota.
      responses:
        '200':
          $ref: '#/components/responses/ReplyStream'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /conversations/{id}/tools/{messageID}:
    parameters:
      - $ref: '#/components/parameters/ConversationID'
      - $ref: '#/components/parameters/MessageID'
    post:
      operationId: decideToolCalls
      summary: Allow or refuse the writes the coach asked to make
      description: The tools run inside this request. Then call resumeConversation for the reply.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionRequest'
      responses:
        '204':
          description: Answered
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /conversations/{id}/messages/{messageID}/helpful:
    parameters:
      - $ref: '#/components/parameters/ConversationID'
      - $ref: '#/components/parameters/MessageID'
    put:
      operationId: rateMessage
      summary: Say whether a coach reply helped
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HelpfulRequest'
      responses:
        '200':
          description: The rated message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /exercises/{slug}:
    parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getExercise
      summary: A catalog exercise with its pose artwork as path data
      responses:
        '200':
          description: The exercise
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExerciseDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /settings/profile:
    get:
      operationId: getProfile
      summary: Name, time zone, language and how the coach talks
      tags: [settings]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      operationId: updateProfile
      summary: Save the profile and coaching style
      tags: [settings]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Profile'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /settings/preferences:
    get:
      operationId: getPreferences
      summary: Units and nutrition defaults
      tags: [settings]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Preferences'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      operationId: updatePreferences
      summary: Save units and nutrition defaults
      tags: [settings]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Preferences'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Preferences'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /settings/notifications:
    get:
      operationId: getNotificationSettings
      summary: What North may say unprompted, and quiet hours
      tags: [settings]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      operationId: updateNotificationSettings
      summary: Save notification settings
      tags: [settings]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationSettings'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /settings/ai:
    get:
      operationId: getAISettings
      summary: The providers a person may bring a key for, and the one in use
      tags: [settings]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AISettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      operationId: saveAIProvider
      summary: Use your own AI provider key
      tags: [settings]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AIProviderRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AISettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
        '503':
          $ref: '#/components/responses/Unavailable'
    delete:
      operationId: removeAIProvider
      summary: Go back to Khepri's providers
      tags: [settings]
      responses:
        '204':
          description: Done
        '401':
          $ref: '#/components/responses/Unauthorized'
  /settings/connections:
    get:
      operationId: listConnections
      summary: Agents allowed to reach this account over MCP
      tags: [settings]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createConnection
      summary: Issue a token for an agent; the token appears only in this response
      tags: [settings]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConnectionRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedConnection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /settings/connections/{connectionID}:
    parameters:
      - name: connectionID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      operationId: revokeConnection
      summary: Revoke an agent's token
      tags: [settings]
      responses:
        '204':
          description: Done
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /settings/activity:
    get:
      operationId: listActivity
      summary: What North did on this person's behalf
      tags: [settings]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /settings/telegram:
    get:
      operationId: getTelegramSettings
      summary: Whether Telegram is linked
      tags: [settings]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelegramSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      operationId: unlinkTelegram
      summary: Disconnect Telegram
      tags: [settings]
      responses:
        '204':
          description: Done
        '401':
          $ref: '#/components/responses/Unauthorized'
  /settings/telegram/code:
    post:
      operationId: issueTelegramCode
      summary: A single-use code linking a Telegram account
      tags: [settings]
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelegramCode'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /settings/diets:
    get:
      operationId: getDiets
      tags: [settings]
      summary: Every diet the coach and meal planner respect, and which ones you follow
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DietSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      operationId: updateDiets
      tags: [settings]
      summary: Replace the diets you follow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dietIds]
              properties:
                dietIds:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DietSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /settings/calendar:
    get:
      operationId: getCalendarSettings
      summary: The calendar reached over MCP, if connected
      tags: [settings]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      operationId: connectCalendar
      summary: Connect a calendar's MCP server
      tags: [settings]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      operationId: disconnectCalendar
      summary: Disconnect the calendar
      tags: [settings]
      responses:
        '204':
          description: Done
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /account/delete:
    post:
      operationId: deleteAccount
      summary: Erase the account; typing the email address is the confirmation
      tags: [settings]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAccountRequest'
      responses:
        '204':
          description: Done
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /training/import/parse:
    post:
      operationId: parseWorkoutImport
      summary: Read a workout plan out of a file
      description: >-
        Writes nothing. Spreadsheets and JSON are mapped by their header or
        keys; documents and photos are transcribed by a model. Values the file
        does not state come back empty, never filled in. Refusals (empty,
        unsupported, password-protected, too long, not a plan) are a 422 with
        the reason in fields.file.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: >-
                    PDF (up to 20 pages), DOCX, TXT, MD, CSV, TSV, XLSX (first
                    sheet), JSON, or a JPG, PNG, WEBP or HEIC photo. Up to 10 MB.
      responses:
        '200':
          description: The draft to review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutImportDraft'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /training/import:
    post:
      operationId: commitWorkoutImport
      summary: Save a reviewed workout draft as a new plan
      description: Every day needs a weekday, unique within the plan, and every exercise a name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkoutImportDraft'
      responses:
        '201':
          description: Saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportedPlan'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /training/plans:
    get:
      operationId: listPlans
      summary: The plans the person is following, newest first
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createPlan
      summary: Generate a plan from a training intake (waits on the model)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingIntake'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
        '503':
          $ref: '#/components/responses/Unavailable'
  /training/intake:
    get:
      operationId: getLatestIntake
      summary: The last intake, for prefilling a new one
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingIntake'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /training/plans/{planID}:
    parameters:
      - name: planID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getPlan
      summary: A plan with every day and exercise
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /training/plans/{planID}/activate:
    parameters:
      - name: planID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: activatePlan
      summary: Follow this plan
      description: >-
        Makes the plan the one followed. A week nobody changed switches to its
        usual days, keeping what was already trained. Answers with the plan's
        newest version.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /training/week:
    parameters:
      - $ref: '#/components/parameters/WeekParam'
    get:
      operationId: getTrainingWeek
      summary: Which days a week trains and which session each has
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingWeek'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      operationId: setTrainingWeek
      summary: Change which days a week trains
      description: >-
        Each chosen day takes the next session of the plan's rotation, and
        whatever is left over carries into the following week. Days already
        trained this week are kept.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WeekRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingWeek'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      operationId: resetTrainingWeek
      summary: Put a week back to the plan's usual one
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingWeek'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /training/week/suggestion:
    parameters:
      - $ref: '#/components/parameters/WeekParam'
    post:
      operationId: suggestTrainingWeek
      summary: The week a change would make, without saving it
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WeekRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeekSuggestion'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /training/plans/{planID}/days/{day}/start-time:
    parameters:
      - name: planID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: day
        in: path
        required: true
        schema:
          type: integer
    put:
      operationId: setDayStartTime
      summary: Set or clear when a day's session starts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartTimeRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanDetail'
        '409':
          description: The plan was edited elsewhere; this is the newest version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /training/plans/{planID}/days/{day}/suggestions:
    parameters:
      - name: planID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: day
        in: path
        required: true
        schema:
          type: integer
    get:
      operationId: suggestExercisesForDay
      summary: Exercises that would fit this day
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExerciseList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /training/plans/{planID}/days/{day}/exercises:
    parameters:
      - name: planID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: day
        in: path
        required: true
        schema:
          type: integer
    post:
      operationId: addExerciseToDay
      summary: Append a catalog exercise to a day
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CatalogChoice'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanDetail'
        '409':
          description: The plan was edited elsewhere; this is the newest version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /training/plans/{planID}/days/{day}/exercises/{index}:
    parameters:
      - name: planID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: day
        in: path
        required: true
        schema:
          type: integer
      - name: index
        in: path
        required: true
        schema:
          type: integer
    put:
      operationId: swapExercise
      summary: Replace an exercise, keeping its sets and reps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CatalogChoice'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanDetail'
        '409':
          description: The plan was edited elsewhere; this is the newest version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      operationId: removeExercise
      summary: Remove an exercise from a day
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanDetail'
        '409':
          description: The plan was edited elsewhere; this is the newest version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /training/plans/{planID}/days/{day}/exercises/{index}/move:
    parameters:
      - name: planID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: day
        in: path
        required: true
        schema:
          type: integer
      - name: index
        in: path
        required: true
        schema:
          type: integer
    post:
      operationId: moveExercise
      summary: Move an exercise up or down its day
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanDetail'
        '409':
          description: The plan was edited elsewhere; this is the newest version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /training/plans/{planID}/days/{day}/exercises/{index}/prescription:
    parameters:
      - name: planID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: day
        in: path
        required: true
        schema:
          type: integer
      - name: index
        in: path
        required: true
        schema:
          type: integer
    put:
      operationId: setPrescription
      summary: Change sets, reps and rest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrescriptionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanDetail'
        '409':
          description: The plan was edited elsewhere; this is the newest version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /training/plans/{planID}/days/{day}/exercises/{index}/replacements:
    parameters:
      - name: planID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: day
        in: path
        required: true
        schema:
          type: integer
      - name: index
        in: path
        required: true
        schema:
          type: integer
    get:
      operationId: suggestReplacements
      summary: Exercises that could replace this one
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExerciseList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /exercises:
    get:
      operationId: searchExercises
      summary: Search the exercise library
      parameters:
      - {name: q, in: query, schema: {type: string}}
      - {name: muscle, in: query, schema: {type: string}}
      - {name: category, in: query, schema: {type: string}}
      - {name: equipment, in: query, schema: {type: array, items: {type: string}}, explode: true}
      - {name: limit, in: query, schema: {type: integer}}
      - {name: offset, in: query, schema: {type: integer}}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExerciseList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /activity:
    get:
      operationId: getActivity
      summary: The open session, recent sessions, and the activities that can be timed
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityOverview'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /activity/start:
    post:
      operationId: startActivity
      summary: Start timing an activity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartActivityRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitySession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
  /activity/log:
    post:
      operationId: logActivity
      summary: Record an activity after the fact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogActivityRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitySession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /activity/{sessionID}/pause:
    parameters:
      - name: sessionID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: pauseActivity
      summary: Pause the open session
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitySession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
  /activity/{sessionID}/resume:
    parameters:
      - name: sessionID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: resumeActivity
      summary: Resume a paused session
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitySession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
  /activity/{sessionID}/stop:
    parameters:
      - name: sessionID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: stopActivity
      summary: Finish the session and record its calories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivitySession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
  /activity/{sessionID}:
    parameters:
      - name: sessionID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      operationId: cancelActivity
      summary: Discard the open session
      responses:
        '204':
          description: Done
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /goals:
    get:
      operationId: listGoals
      summary: Every goal, newest first, and the life areas a goal can belong to
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoalList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createGoal
      summary: Create a goal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoalRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoalDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /goals/{goalID}:
    parameters:
      - name: goalID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getGoal
      summary: A goal with its milestones and recent progress notes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoalDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateGoal
      summary: Edit a goal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoalRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoalDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      operationId: deleteGoal
      summary: Delete a goal
      responses:
        '204':
          description: Done
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /goals/{goalID}/status:
    parameters:
      - name: goalID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    put:
      operationId: setGoalStatus
      summary: Mark a goal active, achieved, paused or abandoned
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoalStatusRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoalDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /goals/{goalID}/updates:
    parameters:
      - name: goalID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: addGoalUpdate
      summary: Add a progress note, optionally with a percentage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoalUpdateRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoalUpdate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /goals/{goalID}/milestones:
    parameters:
      - name: goalID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: addMilestone
      summary: Add a milestone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MilestoneRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Milestone'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /goals/{goalID}/milestones/{milestoneID}:
    parameters:
      - name: goalID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: milestoneID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    put:
      operationId: updateMilestone
      summary: Rename or re-date a milestone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MilestoneRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Milestone'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      operationId: deleteMilestone
      summary: Delete a milestone
      responses:
        '204':
          description: Done
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /goals/{goalID}/milestones/{milestoneID}/status:
    parameters:
      - name: goalID
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: milestoneID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    put:
      operationId: setMilestoneStatus
      summary: Mark a milestone open or completed
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoalStatusRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Milestone'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /check-ins:
    get:
      operationId: listCheckIns
      summary: Today's check-in, the recent ones and the streak
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckInList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /check-ins/today:
    put:
      operationId: saveTodayCheckIn
      summary: File or replace today's check-in
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckInRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckIn'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /check-ins/{checkInID}:
    parameters:
      - name: checkInID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    put:
      operationId: updateCheckIn
      summary: Edit a past check-in
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckInRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckIn'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      operationId: deleteCheckIn
      summary: Delete a check-in
      responses:
        '204':
          description: Done
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /reports:
    get:
      operationId: listReports
      summary: Weekly reports and daily briefings, newest first
      parameters:
        - name: archived
          in: query
          required: false
          schema:
            type: boolean
          description: Include archived reports.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /reports/{reportID}:
    parameters:
      - name: reportID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getReport
      summary: A report's text
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /reports/{reportID}/archive:
    parameters:
      - name: reportID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: archiveReport
      summary: Archive a report
      responses:
        '204':
          description: Done
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /reports/{reportID}/helpful:
    parameters:
      - name: reportID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    put:
      operationId: rateReport
      summary: Say whether a report helped; null clears the rating
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportHelpfulRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /memories:
    get:
      operationId: listMemories
      summary: Memories waiting for a verdict, and the ones the coach uses
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemoryList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createMemory
      summary: Tell the coach something to remember
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemoryRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Memory'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /memories/{memoryID}:
    parameters:
      - name: memoryID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    put:
      operationId: updateMemory
      summary: Reword or recategorise a memory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemoryRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Memory'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      operationId: deleteMemory
      summary: Forget a memory
      responses:
        '204':
          description: Done
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /memories/{memoryID}/approve:
    parameters:
      - name: memoryID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: approveMemory
      summary: Keep a memory the coach proposed
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Memory'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /memories/{memoryID}/reject:
    parameters:
      - name: memoryID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: rejectMemory
      summary: Discard a memory the coach proposed
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Memory'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /memories/{memoryID}/pinned:
    parameters:
      - name: memoryID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    put:
      operationId: setMemoryPinned
      summary: Pin a memory so it always reaches the coach
      description: Pinned and excluded are exclusive; setting either clears the other.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemoryToggleRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Memory'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /memories/{memoryID}/excluded:
    parameters:
      - name: memoryID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    put:
      operationId: setMemoryExcluded
      summary: Keep a memory but never show it to the coach
      description: Pinned and excluded are exclusive; setting either clears the other.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemoryToggleRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Memory'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /knowledge:
    get:
      operationId: listKnowledge
      summary: Documents and notes the coach can search, with index counts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /knowledge/search:
    get:
      operationId: searchKnowledge
      summary: Search the library the way the coach does
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeSearchResults'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /knowledge/notes:
    post:
      operationId: createKnowledgeNote
      summary: Write a note into the library
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KnowledgeNoteRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeDocument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /knowledge/uploads:
    post:
      operationId: uploadKnowledge
      summary: Add a file (PDF, Markdown or text, up to 8 MB)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: The document, with its own Content-Type.
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeDocument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /knowledge/reindex:
    post:
      operationId: reindexKnowledge
      summary: Re-read every document
      responses:
        '202':
          description: Queued
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /knowledge/{documentID}:
    parameters:
      - name: documentID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getKnowledgeDocument
      summary: A document as the coach reads it
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KnowledgeDocumentDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteKnowledgeDocument
      summary: Remove a document
      responses:
        '204':
          description: Done
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /knowledge/{documentID}/reindex:
    parameters:
      - name: documentID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: reindexKnowledgeDocument
      summary: Re-read one document
      responses:
        '202':
          description: Queued
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /form-checks:
    get:
      operationId: listFormChecks
      summary: Filmed sets and what the coach saw in them
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormCheckList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: uploadFormCheck
      summary: Upload a clip of a set to be analysed
      description: Answers 202 with the check; poll it until done or failed.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [video]
              properties:
                video:
                  type: string
                  format: binary
                  description: A video up to 200 MB.
      responses:
        '202':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormCheck'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /form-checks/{analysisID}:
    parameters:
      - name: analysisID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getFormCheck
      summary: One form check, with its result once done
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormCheck'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /care:
    get:
      operationId: getCare
      summary: Water, last night, habits and reminders for today
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Care'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /care/water:
    post:
      operationId: logWater
      summary: Log a drink; answers with the page as it now stands
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WaterRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Care'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /care/water/{entryID}:
    parameters:
      - name: entryID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      operationId: undoWater
      summary: Undo a logged drink
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Care'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /care/sleep:
    put:
      operationId: logSleep
      summary: Log last night; logging again replaces it
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SleepRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Care'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /care/habits:
    post:
      operationId: createHabit
      summary: Start a habit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HabitRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Care'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /care/habits/{habitID}:
    parameters:
      - name: habitID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      operationId: deleteHabit
      summary: Stop a habit
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Care'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /care/habits/{habitID}/done:
    parameters:
      - name: habitID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    put:
      operationId: setHabitDone
      summary: Mark a habit done or not done today
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CareFlagRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Care'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /care/reminders:
    post:
      operationId: createCareReminder
      summary: Add a reminder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CareReminderRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Care'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /care/reminders/{reminderID}:
    parameters:
      - name: reminderID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      operationId: deleteCareReminder
      summary: Remove a reminder
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Care'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /care/reminders/{reminderID}/enabled:
    parameters:
      - name: reminderID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    put:
      operationId: setCareReminderEnabled
      summary: Turn a reminder on or off
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CareFlagRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Care'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /mind/journal:
    get:
      operationId: getJournal
      summary: Recent journal entries and the mood trend beside them
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Journal'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: writeJournal
      summary: Write a journal entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JournalRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /nutrition/ingredients:
    get:
      operationId: searchIngredients
      summary: The shared ingredient library and your own additions
      parameters:
        - name: q
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngredientList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createIngredient
      summary: Add an ingredient of your own
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngredientRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ingredient'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /nutrition/ingredients/{ingredientID}:
    parameters:
      - name: ingredientID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      operationId: deleteIngredient
      summary: Delete one of your ingredients
      responses:
        '204':
          description: Done
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /nutrition/plan-options:
    get:
      operationId: getMealPlanOptions
      summary: What a new plan can be — the active macro target and the plan types
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MealPlanOptions'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /nutrition/import/parse:
    post:
      operationId: parseMealImport
      summary: Read a meal plan out of a file
      description: >-
        Writes nothing. Foods are matched to the ingredient catalog and every
        day is measured against the active macro target, which is only read.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: >-
                    PDF (up to 20 pages), DOCX, TXT, MD, CSV, TSV, XLSX (first
                    sheet), JSON, or a JPG, PNG, WEBP or HEIC photo. Up to 10 MB.
      responses:
        '200':
          description: The draft to review, previewed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MealImportDraft'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /nutrition/import/preview:
    post:
      operationId: previewMealImport
      summary: Recompute an edited meal draft
      description: Re-resolves ingredients, grams, macros and each day's target and overage. Writes nothing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MealImportDraft'
      responses:
        '200':
          description: The draft, previewed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MealImportDraft'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /nutrition/import:
    post:
      operationId: commitMealImport
      summary: Save a reviewed meal draft as a new plan
      description: >-
        A day over its target is a 409 MacroOverage, as for any change to a
        meal plan: an easy plan is always refused, an advanced one saves when
        asked again with confirmOverage. Unresolved foods are a 422 carrying
        the server's preview of the draft. Nothing is written on either.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MealImportCommit'
      responses:
        '201':
          description: Saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportedPlan'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/MacroOverage'
        '422':
          description: Not saved; see error.fields and the previewed draft
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MealImportRefusal'
  /nutrition/plans:
    get:
      operationId: listMealPlans
      summary: Your meal plans
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MealPlanList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createMealPlan
      summary: Create a meal plan with its days
      description: |
        Needs a macro target from the calculator; without one the 422 names
        the field macro_target. Easy plans take dayCount (days from Monday);
        advanced plans may name weekdays instead.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MealPlanRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MealPlanDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /nutrition/plans/{planID}:
    parameters:
      - name: planID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getMealPlan
      summary: A meal plan with its days, meals and portions, each day measured against its target
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MealPlanDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateMealPlan
      summary: Rename a plan or change its type or mode; answers with the plan
      description: |
        Switching an advanced plan to easy needs confirmReset (the 422 names
        confirm_reset otherwise) and drops every day's override. A change that
        would take a day further over its target is a 409.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MealPlanUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MealPlanDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/MacroOverage'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      operationId: deleteMealPlan
      summary: Delete a meal plan
      responses:
        '204':
          description: Done
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /nutrition/plans/{planID}/days:
    parameters:
      - name: planID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: addMealPlanDay
      summary: Add a day; the next free weekday from Monday, or a named one in an advanced plan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MealPlanDayRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MealPlanDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /nutrition/plan-days/{dayID}:
    parameters:
      - name: dayID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    put:
      operationId: updateMealPlanDay
      summary: Give an advanced plan's day its own target; answers with the plan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MealPlanDayOverride'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MealPlanDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/MacroOverage'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      operationId: removeMealPlanDay
      summary: Remove a day and its meals; a plan keeps at least one day
      responses:
        '204':
          description: Done
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /nutrition/plan-days/{dayID}/meals:
    parameters:
      - name: dayID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: addPlanMeal
      summary: Add a meal at the end of a day; answers with the plan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MealRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MealPlanDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /nutrition/meals/{mealID}:
    parameters:
      - name: mealID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      operationId: removePlanMeal
      summary: Remove a meal from its plan
      responses:
        '204':
          description: Done
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /nutrition/meals/{mealID}/ingredients:
    parameters:
      - name: mealID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: addMealPortion
      summary: Add an ingredient to a meal, by weight
      description: A portion that would take the meal's day further over its target is a 409.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortionRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MealPortion'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/MacroOverage'
        '422':
          $ref: '#/components/responses/ValidationError'
  /nutrition/meals/{mealID}/ingredients/batch:
    parameters:
      - name: mealID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: addMealPortions
      summary: Add several ingredients to a meal at once, all or none, as a spoken meal arrives
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortionsRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MealPortionList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/MacroOverage'
        '422':
          $ref: '#/components/responses/ValidationError'
  /nutrition/meal-ingredients/{mealIngredientID}:
    parameters:
      - name: mealIngredientID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      operationId: removeMealPortion
      summary: Remove an ingredient from a meal
      responses:
        '204':
          description: Done
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /nutrition/log:
    get:
      operationId: getFoodLog
      summary: Today's food log, totals and progress against the macro goal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FoodLog'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /nutrition/log/ingredients:
    post:
      operationId: logFood
      summary: Log an ingredient eaten today, by weight; answers with the day
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortionRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FoodLog'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /nutrition/log/meals:
    post:
      operationId: logPlanMeal
      summary: Log a meal from a plan eaten today; answers with the day
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogMealRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FoodLog'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
  /nutrition/log/{entryID}:
    parameters:
      - name: entryID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      operationId: deleteFoodLogEntry
      summary: Remove an entry; answers with the day
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FoodLog'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /decisions:
    get:
      operationId: listDecisions
      summary: The decision log, newest first
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createDecision
      summary: Record a decision
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionInput'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Decision'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /decisions/calibration:
    get:
      operationId: getDecisionCalibration
      summary: How your calls held up, among the ones you looked back on
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionCalibration'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /decisions/{decisionID}:
    parameters:
      - name: decisionID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: getDecision
      summary: One decision
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Decision'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateDecision
      summary: Edit a decision, or add how it turned out
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Decision'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      operationId: deleteDecision
      summary: Delete a decision
      responses:
        '204':
          description: Done
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /nudges:
    get:
      operationId: listNudges
      summary: Open notifications and how many are unread
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NudgeList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /nudges/{nudgeID}/open:
    parameters:
      - name: nudgeID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: openNudge
      summary: Follow a notification; marks it read and answers with where it leads
      parameters:
        - name: from
          in: query
          required: false
          description: "`push` when the app opens a notification tap; otherwise the bell is credited."
          schema:
            type: string
            enum: [push]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BellNudge'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /nudges/{nudgeID}/read:
    parameters:
      - name: nudgeID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: readNudge
      summary: Mark a notification read
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BellNudge'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /nudges/{nudgeID}/dismiss:
    parameters:
      - name: nudgeID
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      operationId: dismissNudge
      summary: Dismiss a notification
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BellNudge'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /account/export:
    get:
      operationId: exportAccount
      summary: Everything in the account, as a zip archive
      responses:
        '200':
          description: The archive, streamed
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /calculator:
    get:
      operationId: getCalculator
      summary: Body measurements, the current macro goal and the choices for a new one (metric)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Calculator'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /calculator/biometrics:
    put:
      operationId: recordBiometrics
      summary: Record weight, height, date of birth and sex (metric)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BiometricsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Calculator'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /calculator/plan:
    post:
      operationId: generateMacroGoal
      summary: Work out a macro goal from the current measurements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MacroGoalRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Calculator'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /social:
    get:
      operationId: getSocial
      summary: Your handle, invite link, follow requests, followers, following and blocks
      tags: [social]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialOverview'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /social/handle:
    put:
      operationId: setHandle
      summary: Claim a handle, or clear it with an empty string
      tags: [social]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [handle]
              properties:
                handle:
                  type: string
                  description: 3-20 lower-case letters, digits or underscores; a leading @ is dropped. Empty clears it.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandleView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /invites:
    get:
      operationId: getInvite
      summary: Your invite link for a channel, made on first use and stable after
      tags: [social]
      parameters:
        - name: channel
          in: query
          schema:
            type: string
            enum: [link, messages, x, facebook, contacts]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteView'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /invites/{code}:
    parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: previewInvite
      summary: Who sent an invite link. Public, for the signed-out app.
      tags: [social]
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitePreview'
        '404':
[...]
